---
import '../styles/bootstrap-custom.scss'
import Header from '../components/astro/header/Header.astro'
import { ViewTransitions } from 'astro:transitions'
interface Props {
  title: string
}

const { title, subtitle } = Astro.props
const { locale, theme } = Astro.locals
---

<!doctype html>
<html lang={locale} data-bs-theme={theme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} {subtitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <h1>{title}&nbsp;{subtitle}</h1>
    <hr />
    <slot />
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
    </style>

    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
    ></script>

    <script>
      const layoutInit = () => {
        console.log('Layout', 'layoutInit')
        document.addEventListener(
          'astro:page-load',
          () => {
            console.log('Layout', 'page-load once')
          },
          { once: true }
        )
        document.addEventListener('astro:page-load', () => {
          console.log('Layout', 'page-load')
        })
        document.addEventListener('astro:after-swap', () => {
          console.log('Layout', 'after-swap')
        })
      }
      layoutInit()
      document.addEventListener('astro:page-load', layoutInit)
    </script>
  </body>
</html>

